h1{
font-family:Snell Roundhand;
text-align: center;
size: 7000px;
border: solid;
padding: 8px;
background-color: red;
width: 750px;
}

body {
color: white;
font-weight: bold;
width:600px;
margin-left:25%;
margin-right:25%;
background:linear-gradient(yellow, red);
}
.homme{
  text-align: center;
  }
  .homme{
    display: flex;
    justify-content: center;
  }
#femme{
  text-align: center;
}
img{
width: 200px;
height: 200px;
  }

.container-1{
  border: solid;
  border-color: blue;
  padding: 40px;
  width: 760px;
  background-color: green;
}
.box-1{
  display:flex;
  justify-content: space-between;

}
.box-2{
  display:flex;
  justify-content: space-between;
}
.container-2{
  border: solid;
  border-color: blue;
  padding: 30px;
  width: 770px;
  background-color: green;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-3{
border: solid;
border-color: blue;
padding: 50px;
width: 750px;
background-color: green;
}

.formulaire, #pays{
display: flex;
border: solid;
border-color: white;
align-items: flex-start;
width: 180px;
}

input{
display: inline-block;
size: 200px;
}
select{
  background-color: violet;
}
/*github: summary;ce qu'on a fait
commit et en haut a droite publish*/
