h1{
font-family:Snell Roundhand;
text-align: center;
font-size: 40px;
border: solid;
padding: 8px;
background-color: red;
width: 750px;
margin-left:45%;
margin-right:30%;
}

body {
color: white;
font-weight: bold;
width:600px;
background:linear-gradient(#0EF0C5, black);

}
#homme:hover{
  text-align: center;
  font-size: 23px;
  font-family: Bernard MT Condensed;
  background: blue;
  width: 250px;
  transition: 2s;
  }

#femme:hover{
  text-align: center;
  font-size: 23px;
  font-family: Bernard MT Condensed;
  background: blue;
  width: 250px;
  transition: 2s;
}
#image1{
  width: 250px;
  height: 250px;
}
#image2{
  width: 250px;
  height: 250px;
}
img{
width: 150px;
height: 150px;
  }

.container-1{
  border: solid;
  border-color: white;
  padding: 40px;
  width: 760px;
  background:linear-gradient(red, black);
  margin-left:45%;
  margin-right:30%;
}
.box-1{
  display:flex;
  justify-content: space-between;
}
h2{
border: solid;
border-color: white;
width:750px;
font-size: 35px;
margin-left:45%;
margin-right:30%;
font-size: 35px;
background-color: blue;
}

.box-2{
  display:flex;
  justify-content: space-between;
}
.container-2{
  border: solid;
  border-color: white;
  padding: 30px;
  width: 770px;
  background:linear-gradient(blue, black);
  margin-left:45%;
  margin-right:30%;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-4:hover{
  font-size: 18px;
  text-align: center;
  transition-duration: 3s;
  transition-timing-function: ease;
  transform: translateX(-250px);
}
#kite2{
  font-style: italic;
  font-size: 20px;
  color: red;
}
.box-5{
  font-size: 18px;
  text-align: center;
}

#surf2{
  font-style: italic;
  font-size: 20px;
  color: red;
}

.box-6:hover{
  font-size: 18px;
  text-align: center;
  background: firebrick;
  width: 200px;
 transition: 5S;
    transform: scale(2) translate(500px);
}

#voile2{
  font-style: italic;
  font-size: 20px;
  color: red;
}

.container-3{
border: solid;
border-color: white;
padding: 50px;
width: 1369px;
background-image:url(https://images6.alphacoders.com/314/314064.jpg) ;
}

.formulaire{
border: solid;
border-color: white;
background-color: grey;
width: 450px;
}
.formulaire{
  display: flex;
  align-items: flex-end;
}
input{
  display: block;
  size: 200px;
}
input:hover{
transition-property: background-color;
transition-duration: 2s;
transition-delay: 0s;
background-color: yellow;
}
select{
  background-color: violet;
}

h3{
  font-size: 32px;
}
